*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
  }
  body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black ;
  }
  .box{
    background-color:#155e75;
    padding:30px;
    width:400px;
    border-radius:8px;
  }
  .qr-header h1{
    font-size:26px;
    text-align:center;
    color:whitesmoke;
    margin-bottom: 24px;
    text-transform:uppercase;
  }
  .qr-header input{
    width:100%;
    margin-block:12px;
  }
  .qr-header input,select{
    padding:8px;
    border-radius:10px;
    font-size:19px;
    outline:none;
    border:2px solid blanchedalmond;
  }
  .qr-header label{
     color:black;
     font-size:20px;
  }
  .qr-header div{
    display:flex;
    justify-content:space-bewteen;
    
  }
  .qr-footer{
    margin-top:30px; 
    display:flex;
    justify-content: center;
  }
  .qr-footer a{
    background-color:floralwhite;
    text-decoration:none;
    font-size:20px;
    padding:14px 30px;
    margin-inline:2px;
    color:darkblue;
    border-radius:8px;
  }
  .qr-body{
    display:grid;
    place-items:center;
    padding:20px;
  }
  .qr-body img{
    max-width:100%;
    max-height:100%;
    margin-block: 10px;
    padding: 20px;
    border: 0.5px solid var(--border-color);
    border-radius: var(--border-radius);
  }
  
  @media screen and (max-width:520px){
      .box{
          width: 80%;
      }
      .qr-footer a{
          padding: 12px;
          font-size: 16px;
      }
  }
  